$main_color:  #5d87ff;
$transition : .3s;
$p_color: #707070;

$maxMobile: "(max-width: 567px)";
$minSmall: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minLarge: "(max-width: 1200px)";
